#sign-up {
    text-align: center;
    padding-top: 10px;
}

#form {
    margin-left: 25%;
    margin-right: 25%;
}

input[type=submit] {
    margin: auto;
    display: block;
}

.invalid {
    color: red;
}

.hidden {
    display: none;
}

@media (max-width: 767px) {
    #form {
        margin-left: 10%;
        margin-right: 10%;
    }
}

#submit-div {
    text-align: center;
}