.content {
    margin-top: 20px;
}

#input-title {
    font-size: larger;
}

#dad-joke-box {
    padding: 10px;
    border: 1px solid black;
    min-height: 50px;
}

.input-rows {
    margin-top: 20px;
    margin-bottom: 40px;
}

.new-button {
    width: 100%;
}

#dad-image-container {
    position: relative;
    margin: auto;
    width: 80%;
}

#dad-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#new-dad-image {
    width: 100%;
}

#voices-select {
    width: 100%;
}

#sound-button {
    width: 70%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; */
}

.hidden {
    display: none;
}