#big-msg {
    padding-top: 50px;
    text-align: center;
}

#small-msg {
    padding-top: 50px;
    text-align: center;
}


#next-action-btn-div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: fit-content;
}